@charset "utf-8";
#main {
  background: #f6f6f6;
  padding: 1px 0 40px 0;
}
/*--- 度假  --- */
#travel {
  width: 1180px;
  margin: 28px auto 0;
}
#travel .travel-title {
  position: relative;
  height: 36px;
  border-bottom: 2px solid #3983e5;
}
#travel .travel-title ul li {
  float: left;
  height: 36px;
  line-height: 30px;
  color: #333;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
#travel .travel-title ul li:nth-of-type(1) {
  position: relative;
  color: #06c;
  cursor: default;
}
#travel .travel-title ul li:nth-of-type(1) i {
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -6px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #3983e5;
}
#travel .travel-title ul li:hover {
  color: #06c;
}
#travel .travel-title > div {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 22px;
  line-height: 22px;
}
#travel .travel-title > div a {
  padding: 1px 22px 0 0;
  display: inline-block;
  height: 22px;
  color: #3983e4;
}
#travel .travel-title > div a i {
  position: absolute;
  right: 0;
  top: 50%;
  transition: transform 0.1s;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #3983e5;
}
#travel .travel-title > div a:hover i {
  transform: rotate(180deg) translateY(5px);
  /* TODO: 二级菜单效果 */
}
#travel .travel-content {
  height: 375px;
  padding: 15px 19px 0;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}
#travel .travel-content-title ul {
  height: 20px;
  margin-bottom: 10px;
}
#travel .travel-content-title ul li {
  float: left;
  line-height: 20px;
  margin-right: 15px;
  padding: 0 8px;
  border-radius: 3px;
}
#travel .travel-content-title ul li:hover {
  background: #3983e5;
}
#travel .travel-content-title ul li:hover a {
  color: #fff;
}
#travel .travel-content-title ul li a {
  color: #3983e5;
}
#travel .travel-content-title ul li:nth-of-type(1) {
  background: #3983e5;
}
#travel .travel-content-title ul li:nth-of-type(1) a {
  color: #fff;
  cursor: default;
}
#travel .travel-content-main {
  height: 330px;
}
#travel .travel-content-main li {
  position: relative;
  float: left;
  margin: 0 0 10px 10px;
  height: 330px;
}
#travel .travel-content-main li:nth-of-type(1) {
  margin-left: 0px;
}
#travel .travel-content-main li > a {
  display: block;
  color: #fff;
}
#travel .travel-content-main li > a img {
  height: 330px;
}
#travel .travel-content-main li > a > p {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 10px 0;
}
#travel .travel-content-main li > a > p span {
  display: inline-block;
  border-radius: 0 0 10px 0;
  height: 20px;
  line-height: 20px;
  padding: 0 11px 0 6px;
  color: #fff;
}
#travel .travel-content-main li > a > p span:nth-of-type(1) {
  background: #FF6913;
}
#travel .travel-content-main li > a .items-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -56px 0 0 -51px;
  width: 102px;
  height: 52px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 30px 5px;
  text-align: center;
}
#travel .travel-content-main li > a .items-ball > p {
  font: 700 18px/1.2 "Microsoft yahei";
}
#travel .travel-content-main li > a .items-ball > div {
  margin-top: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  height: 35px;
  padding: 0 5px;
}
#travel .travel-content-main li > a .items-ball > div i {
  vertical-align: 7px;
}
#travel .travel-content-main li > a .items-ball > div b {
  margin-left: -5px;
  font: 22px/1.5 tahoma;
  color: #f60;
}
#travel .travel-content-main li > a .items-ball > div em {
  vertical-align: 2px;
}
#travel .travel-content-main li > a .bgchange {
  position: absolute;
  padding: 65px 10px 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  font-family: PingFangSC-Regular;
  line-height: 16px;
  display: none;
}
#travel .travel-content-main li > a .bgchange .title {
  text-align: center;
  font-size: 22px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}
#travel .travel-content-main li > a .bgchange .info {
  position: relative;
  padding-left: 28px;
  margin-bottom: 20px;
  line-height: 16px;
  height: 32px;
  white-space: normal;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#travel .travel-content-main li > a .bgchange .link {
  margin-top: 40px;
  text-align: center;
}
#travel .travel-content-main li > a:hover .bgchange {
  display: block;
}
#travel .travel-content-main li > a:hover .items-ball {
  display: none;
}
#travel .travel-content-main li > a:hover > p {
  display: none;
}
/*--- /度假  --- */
/*--- 酒店 --- */
#hotel {
  width: 1180px;
  margin: 28px auto 0;
}
#hotel .hotel-title {
  position: relative;
  height: 36px;
  border-bottom: 2px solid #3983e5;
}
#hotel .hotel-title ul li {
  float: left;
  height: 36px;
  line-height: 30px;
  color: #333;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
#hotel .hotel-title ul li:nth-of-type(1) {
  position: relative;
  color: #06c;
  cursor: default;
}
#hotel .hotel-title ul li:nth-of-type(1) i {
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -6px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #3983e5;
}
#hotel .hotel-title ul li:hover {
  color: #06c;
}
#hotel .hotel-title > div {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 22px;
  line-height: 22px;
}
#hotel .hotel-title > div a {
  padding: 1px 22px 0 0;
  display: inline-block;
  height: 22px;
  color: #3983e4;
}
#hotel .hotel-title > div a i {
  position: absolute;
  right: 0;
  top: 50%;
  transition: transform 0.1s;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #3983e5;
}
#hotel .hotel-title > div a:hover i {
  transform: rotate(180deg) translateY(5px);
  /* TODO: 二级菜单效果 */
}
#hotel .hotel-content {
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}
#hotel .hotel-content .content-left {
  float: left;
  width: 187px;
  height: 360px;
  padding: 0 20px 15px;
  overflow: hidden;
}
#hotel .hotel-content .content-left dl {
  margin: 0px 0 7px 0;
  overflow: hidden;
}
#hotel .hotel-content .content-left dl dt {
  padding: 4px 0 0 0;
  font: 700 14px/34px "Microsoft yahei";
}
#hotel .hotel-content .content-left dl dd {
  display: block;
}
#hotel .hotel-content .content-left dl dd a {
  display: block;
  width: 187px;
  color: #666;
  line-height: 18px;
  height: 18px;
  padding: 7px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#hotel .hotel-content .content-left dl dd a:hover {
  color: #3983e6;
}
#hotel .hotel-content .content-right {
  float: left;
  height: 375px;
  padding: 15px 19px 0;
  border-left: 1px dotted #a3a3a3;
}
#hotel .hotel-content .content-right .hotel-content-title {
  position: relative;
}
#hotel .hotel-content .content-right .hotel-content-title ul {
  float: left;
  height: 20px;
  margin-bottom: 10px;
}
#hotel .hotel-content .content-right .hotel-content-title ul li {
  float: left;
  line-height: 20px;
  margin-right: 15px;
  padding: 0 8px;
  border-radius: 3px;
}
#hotel .hotel-content .content-right .hotel-content-title ul li:hover {
  background: #3983e5;
}
#hotel .hotel-content .content-right .hotel-content-title ul li:hover a {
  color: #fff;
}
#hotel .hotel-content .content-right .hotel-content-title ul li a {
  color: #3983e5;
}
#hotel .hotel-content .content-right .hotel-content-title ul li:nth-of-type(1) {
  background: #3983e5;
}
#hotel .hotel-content .content-right .hotel-content-title ul li:nth-of-type(1) a {
  color: #fff;
  cursor: default;
}
#hotel .hotel-content .content-right .hotel-content-title > a {
  position: absolute;
  right: 9px;
  top: 0px;
  display: block;
  color: #3983e5;
}
#hotel .hotel-content .content-right .hotel-content-title > a:hover {
  right: -2px;
  top: -3px;
  border: 1px solid #3983e5;
  border-radius: 3px;
  padding: 2px 10px;
}
#hotel .hotel-content .content-right .hotel-content-title > a i {
  font-size: 16px;
}
#hotel .hotel-content .content-right .hotel-content-main ul {
  float: left;
  width: 690px;
}
#hotel .hotel-content .content-right .hotel-content-main ul li {
  position: relative;
  float: left;
  margin: 0 10px 10px 0;
  height: 160px;
  width: 220px;
  overflow: hidden;
}
#hotel .hotel-content .content-right .hotel-content-main ul li:hover > a img {
  transform: scale(1.05);
}
#hotel .hotel-content .content-right .hotel-content-main ul li:hover > a .items-ball {
  background: rgba(0, 0, 0, 0.7);
}
#hotel .hotel-content .content-right .hotel-content-main ul li:nth-of-type(1) {
  margin-left: 0px;
}
#hotel .hotel-content .content-right .hotel-content-main ul li:nth-of-type(1) > a .items-ball {
  background: rgba(0, 0, 0, 0.7);
}
#hotel .hotel-content .content-right .hotel-content-main ul li > a {
  display: block;
  color: #fff;
}
#hotel .hotel-content .content-right .hotel-content-main ul li > a img {
  width: 220px;
  transition: transform 0.3s ease 0s;
}
#hotel .hotel-content .content-right .hotel-content-main ul li > a .items-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -56px 0 0 -51px;
  width: 102px;
  height: 52px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 30px 5px;
  text-align: center;
  transition: all 0.3s;
}
#hotel .hotel-content .content-right .hotel-content-main ul li > a .items-ball > p {
  font: 700 18px/1.2 "Microsoft yahei";
}
#hotel .hotel-content .content-right .hotel-content-main ul li > a .items-ball > div {
  margin-top: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  height: 35px;
  padding: 0 5px;
}
#hotel .hotel-content .content-right .hotel-content-main ul li > a .items-ball > div i {
  vertical-align: 7px;
}
#hotel .hotel-content .content-right .hotel-content-main ul li > a .items-ball > div b {
  margin-left: -5px;
  font: 22px/1.5 tahoma;
  color: #f60;
}
#hotel .hotel-content .content-right .hotel-content-main ul li > a .items-ball > div em {
  vertical-align: 2px;
}
#hotel .hotel-content .content-right .hotel-content-main > div {
  float: right;
  width: 220px;
}
#hotel .hotel-content .content-right .hotel-content-main > div a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#hotel .hotel-content .content-right .hotel-content-main > div p {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 30px;
}
/*--- /酒店  --- */
/*--- 机票 --- */
#airport {
  width: 1180px;
  margin: 28px auto 0;
}
#airport .airport-title {
  position: relative;
  height: 36px;
  border-bottom: 2px solid #3983e5;
}
#airport .airport-title ul li {
  float: left;
  height: 36px;
  line-height: 30px;
  color: #333;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
#airport .airport-title ul li:nth-of-type(1) {
  position: relative;
  color: #06c;
  cursor: default;
}
#airport .airport-title ul li:nth-of-type(1) i {
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -6px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #3983e5;
}
#airport .airport-title ul li:hover {
  color: #06c;
}
#airport .airport-title > div {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 22px;
  line-height: 22px;
}
#airport .airport-title > div a {
  padding: 1px 22px 0 0;
  display: inline-block;
  height: 22px;
  color: #3983e4;
}
#airport .airport-title > div a i {
  position: absolute;
  right: 0;
  top: 50%;
  transition: transform 0.1s;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #3983e5;
}
#airport .airport-title > div a:hover i {
  transform: rotate(180deg) translateY(5px);
  /* TODO: 二级菜单效果 */
}
#airport .airport-content {
  height: 383px;
  padding: 15px 19px 0;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}
#airport .airport-content-title {
  position: relative;
}
#airport .airport-content-title ul {
  height: 20px;
  margin-bottom: 10px;
}
#airport .airport-content-title ul li {
  float: left;
  line-height: 20px;
  margin-right: 15px;
  padding: 0 8px;
  border-radius: 3px;
}
#airport .airport-content-title ul li:hover {
  background: #3983e5;
}
#airport .airport-content-title ul li:hover a {
  color: #fff;
}
#airport .airport-content-title ul li a {
  color: #3983e5;
}
#airport .airport-content-title ul li:nth-of-type(1) {
  background: #3983e5;
}
#airport .airport-content-title ul li:nth-of-type(1) a {
  color: #fff;
  cursor: default;
}
#airport .airport-content-title > a {
  position: absolute;
  right: 9px;
  top: 0px;
  display: block;
  color: #3983e5;
}
#airport .airport-content-title > a:hover {
  right: -2px;
  top: -3px;
  border: 1px solid #3983e5;
  border-radius: 3px;
  padding: 2px 10px;
}
#airport .airport-content-title > a i {
  font-size: 16px;
}
#airport .airport-content-main ul {
  width: 920px;
  float: left;
}
#airport .airport-content-main ul li {
  float: left;
  width: 194px;
  height: 74px;
  padding: 15px 12px;
  margin: 0 10px 10px 0;
  background: #f8f8f8;
  border: 1px solid #f8f8f8;
  cursor: pointer;
}
#airport .airport-content-main ul li:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
#airport .airport-content-main ul li > a {
  display: block;
  color: #666;
  padding: 0 5px;
}
#airport .airport-content-main ul li > a > p {
  margin-bottom: 3px;
  color: #333;
  height: 20px;
  line-height: 20px;
}
#airport .airport-content-main ul li > a > i {
  display: inline-block;
  height: 27px;
}
#airport .airport-content-main ul li > a > div span i {
  vertical-align: 6px;
}
#airport .airport-content-main ul li > a > div span em {
  margin-left: -4px;
  font: 22px/1.5 tahoma;
  color: #f60;
}
#airport .airport-content-main ul li > a > div span b {
  vertical-align: 2px;
}
#airport .airport-content-main ul li > a > div strong {
  float: right;
  height: 27px;
  padding: 0 15px;
  font: 14px/27px "Microsoft yahei";
  margin: 3px 0 0 0;
  border-radius: 3px;
  background-color: #ffb000;
  color: #fff;
}
#airport .airport-content-main > div {
  float: right;
}
#airport .airport-content-main > div a {
  display: block;
}
/*--- /机票 --- */
/*--- 用车 --- */
#car {
  width: 1180px;
  margin: 28px auto 0;
}
#car .car-title {
  position: relative;
  height: 36px;
  border-bottom: 2px solid #3983e5;
}
#car .car-title ul li {
  float: left;
  height: 36px;
  line-height: 30px;
  color: #333;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
#car .car-title ul li:nth-of-type(1) {
  position: relative;
  color: #06c;
  cursor: default;
}
#car .car-title ul li:nth-of-type(1) i {
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -6px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #3983e5;
}
#car .car-title ul li:hover {
  color: #06c;
}
#car .car-title > div {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 22px;
  line-height: 22px;
}
#car .car-title > div a {
  padding: 1px 22px 0 0;
  display: inline-block;
  height: 22px;
  color: #3983e4;
}
#car .car-title > div a i {
  position: absolute;
  right: 0;
  top: 50%;
  transition: transform 0.1s;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #3983e5;
}
#car .car-title > div a:hover i {
  transform: rotate(180deg) translateY(5px);
  /* TODO: 二级菜单效果 */
}
#car .car-content {
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}
#car .car-content .content-left {
  float: left;
  width: 187px;
  height: 205px;
  padding: 0 20px 15px;
  overflow: hidden;
}
#car .car-content .content-left dl {
  margin: 0px 0 7px 0;
  overflow: hidden;
}
#car .car-content .content-left dl dt {
  padding: 4px 0 0 0;
  font: 700 14px/34px "Microsoft yahei";
}
#car .car-content .content-left dl dd {
  display: block;
  margin-left: -10px;
}
#car .car-content .content-left dl dd span {
  float: left;
  display: block;
  border-left: 1px solid #ececec;
  padding: 0 10px;
  line-height: 18px;
  height: 18px;
  margin: 7px 0;
}
#car .car-content .content-left dl dd span a {
  color: #666;
}
#car .car-content .content-left dl dd span a:hover {
  color: #3983e6;
}
#car .car-content .content-right {
  float: left;
  height: 205px;
  padding: 15px 15px 0;
  border-left: 1px dotted #a3a3a3;
}
#car .car-content .content-right .car-content-title {
  position: relative;
}
#car .car-content .content-right .car-content-title ul {
  float: left;
  height: 20px;
  margin-bottom: 10px;
}
#car .car-content .content-right .car-content-title ul li {
  float: left;
  line-height: 20px;
  margin-right: 15px;
  padding: 0 8px;
  border-radius: 3px;
}
#car .car-content .content-right .car-content-title ul li:hover {
  background: #3983e5;
}
#car .car-content .content-right .car-content-title ul li:hover a {
  color: #fff;
}
#car .car-content .content-right .car-content-title ul li a {
  color: #3983e5;
}
#car .car-content .content-right .car-content-title ul li:nth-of-type(1) {
  background: #3983e5;
}
#car .car-content .content-right .car-content-title ul li:nth-of-type(1) a {
  color: #fff;
  cursor: default;
}
#car .car-content .content-right .car-content-title ul li:nth-last-child(1) {
  padding: 0;
}
#car .car-content .content-right .car-content-title ul li:nth-last-child(1):hover {
  background: none;
}
#car .car-content .content-right .car-content-title ul li:nth-last-child(1):hover a {
  color: #3983e5;
}
#car .car-content .content-right .car-content-title ul li:nth-last-child(1) a {
  display: block;
  position: relative;
  width: 40px;
  padding: 1px 5px 0;
}
#car .car-content .content-right .car-content-title ul li:nth-last-child(1) a i {
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  margin-left: 5px;
  height: 0px;
  width: 0px;
  border: 5px solid transparent;
  border-top-color: #3983e4;
}
#car .car-content .content-right .car-content-title > a {
  position: absolute;
  right: 9px;
  top: 0px;
  display: block;
  color: #3983e5;
}
#car .car-content .content-right .car-content-title > a:hover {
  right: -2px;
  top: -3px;
  border: 1px solid #3983e5;
  border-radius: 3px;
  padding: 2px 10px;
}
#car .car-content .content-right .car-content-title > a i {
  font-size: 16px;
}
#car .car-content .content-right .car-content-main ul li {
  position: relative;
  float: left;
  height: 200px;
  width: 220px;
  margin: 0 0 10px 10px;
  transition: all .2s linear;
}
#car .car-content .content-right .car-content-main ul li a {
  overflow: hidden;
  color: #666;
  display: block;
}
#car .car-content .content-right .car-content-main ul li a:hover img {
  transform: scale(1.05);
}
#car .car-content .content-right .car-content-main ul li a:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
#car .car-content .content-right .car-content-main ul li a img {
  width: 220px;
  transition: transform 0.3s ease 0s;
}
#car .car-content .content-right .car-content-main ul li a > p {
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
}
#car .car-content .content-right .car-content-main ul li a > div strong {
  color: #999;
  line-height: 35px;
}
#car .car-content .content-right .car-content-main ul li a > div span {
  float: right;
}
#car .car-content .content-right .car-content-main ul li a > div span i {
  vertical-align: 7px;
}
#car .car-content .content-right .car-content-main ul li a > div span b {
  margin-left: -5px;
  font: 22px/1.5 tahoma;
  color: #f60;
}
#car .car-content .content-right .car-content-main ul li a > div span em {
  vertical-align: 2px;
}
/*--- /用车 --- */
/*--- 购物 --- */
#shopping {
  width: 1180px;
  margin: 28px auto 0;
}
#shopping .shopping-title {
  position: relative;
  height: 36px;
  border-bottom: 2px solid #3983e5;
}
#shopping .shopping-title ul li {
  float: left;
  height: 36px;
  line-height: 30px;
  color: #333;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
#shopping .shopping-title ul li:nth-of-type(1) {
  position: relative;
  color: #06c;
  cursor: default;
}
#shopping .shopping-title ul li:nth-of-type(1) i {
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -6px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #3983e5;
}
#shopping .shopping-title ul li:hover {
  color: #06c;
}
#shopping .shopping-title > div {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 22px;
  line-height: 22px;
}
#shopping .shopping-title > div a {
  padding: 1px 22px 0 0;
  display: inline-block;
  height: 22px;
  color: #3983e4;
}
#shopping .shopping-title > div a i {
  position: absolute;
  right: 0;
  top: 50%;
  transition: transform 0.1s;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #3983e5;
}
#shopping .shopping-title > div a:hover i {
  transform: rotate(180deg) translateY(5px);
  /* TODO: 二级菜单效果 */
}
#shopping .shopping-content {
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}
#shopping .shopping-content .content-left {
  float: left;
  width: 187px;
  height: 205px;
  padding: 0 20px 15px;
  overflow: hidden;
}
#shopping .shopping-content .content-left dl {
  margin: 0px 0 7px 0;
  overflow: hidden;
}
#shopping .shopping-content .content-left dl dt {
  padding: 4px 0 0 0;
  font: 700 14px/34px "Microsoft yahei";
}
#shopping .shopping-content .content-left dl dd {
  display: block;
  margin-left: -10px;
}
#shopping .shopping-content .content-left dl dd span {
  float: left;
  display: block;
  border-left: 1px solid #ececec;
  padding: 0 10px;
  line-height: 18px;
  height: 18px;
  margin: 7px 0;
}
#shopping .shopping-content .content-left dl dd span a {
  color: #666;
}
#shopping .shopping-content .content-left dl dd span a:hover {
  color: #3983e6;
}
#shopping .shopping-content .content-right {
  float: left;
  height: 205px;
  padding: 15px 15px 0;
  border-left: 1px dotted #a3a3a3;
}
#shopping .shopping-content .content-right .shopping-content-title {
  position: relative;
}
#shopping .shopping-content .content-right .shopping-content-title ul {
  float: left;
  height: 20px;
  margin-bottom: 10px;
}
#shopping .shopping-content .content-right .shopping-content-title ul li {
  float: left;
  line-height: 20px;
  margin-right: 15px;
  padding: 0 8px;
  border-radius: 3px;
}
#shopping .shopping-content .content-right .shopping-content-title ul li:hover {
  background: #3983e5;
}
#shopping .shopping-content .content-right .shopping-content-title ul li:hover a {
  color: #fff;
}
#shopping .shopping-content .content-right .shopping-content-title ul li a {
  color: #3983e5;
}
#shopping .shopping-content .content-right .shopping-content-title ul li:nth-of-type(1) {
  background: #3983e5;
}
#shopping .shopping-content .content-right .shopping-content-title ul li:nth-of-type(1) a {
  color: #fff;
  cursor: default;
}
#shopping .shopping-content .content-right .shopping-content-title > a {
  position: absolute;
  right: 9px;
  top: 0px;
  display: block;
  color: #3983e5;
}
#shopping .shopping-content .content-right .shopping-content-title > a:hover {
  right: -2px;
  top: -3px;
  border: 1px solid #3983e5;
  border-radius: 3px;
  padding: 2px 10px;
}
#shopping .shopping-content .content-right .shopping-content-title > a i {
  font-size: 16px;
}
#shopping .shopping-content .content-right .shopping-content-main ul li {
  position: relative;
  float: left;
  height: 200px;
  width: 220px;
  margin: 0 0 10px 10px;
  transition: all .2s linear;
}
#shopping .shopping-content .content-right .shopping-content-main ul li a {
  overflow: hidden;
  color: #666;
  display: block;
}
#shopping .shopping-content .content-right .shopping-content-main ul li a:hover img {
  transform: scale(1.05);
}
#shopping .shopping-content .content-right .shopping-content-main ul li a:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
#shopping .shopping-content .content-right .shopping-content-main ul li a img {
  width: 220px;
  transition: transform 0.3s ease 0s;
}
#shopping .shopping-content .content-right .shopping-content-main ul li a > p {
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
}
#shopping .shopping-content .content-right .shopping-content-main ul li a > div strong {
  color: #999;
  line-height: 35px;
}
#shopping .shopping-content .content-right .shopping-content-main ul li a > div span {
  float: right;
}
#shopping .shopping-content .content-right .shopping-content-main ul li a > div span i {
  vertical-align: 7px;
}
#shopping .shopping-content .content-right .shopping-content-main ul li a > div span b {
  margin-left: -5px;
  font: 22px/1.5 tahoma;
  color: #f60;
}
#shopping .shopping-content .content-right .shopping-content-main ul li a > div span em {
  vertical-align: 2px;
}
/*--- /购物 --- */
/*--- 攻略 --- */
#guide {
  width: 1180px;
  margin: 28px auto 0;
}
#guide .guide-title {
  position: relative;
  height: 36px;
  border-bottom: 2px solid #3983e5;
}
#guide .guide-title ul li {
  float: left;
  height: 36px;
  line-height: 30px;
  color: #333;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
#guide .guide-title ul li:nth-of-type(1) {
  position: relative;
  color: #06c;
  cursor: default;
}
#guide .guide-title ul li:nth-of-type(1) i {
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -6px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #3983e5;
}
#guide .guide-title ul li:hover {
  color: #06c;
}
#guide .guide-title > div {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 22px;
  line-height: 22px;
}
#guide .guide-title > div a {
  padding: 1px 22px 0 0;
  display: inline-block;
  height: 22px;
  color: #3983e4;
}
#guide .guide-title > div a i {
  position: absolute;
  right: 0;
  top: 50%;
  transition: transform 0.1s;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #3983e5;
}
#guide .guide-title > div a:hover i {
  transform: rotate(180deg) translateY(5px);
  /* TODO: 二级菜单效果 */
}
#guide .guide-content {
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}
#guide .guide-content .content-left {
  float: left;
  width: 187px;
  height: 205px;
  padding: 0 20px 15px;
  overflow: hidden;
}
#guide .guide-content .content-left dl {
  margin: 0px 0 7px 0;
  overflow: hidden;
}
#guide .guide-content .content-left dl dt {
  padding: 4px 0 0 0;
  font: 700 14px/34px "Microsoft yahei";
}
#guide .guide-content .content-left dl dd {
  display: block;
  line-height: 18px;
  height: 18px;
  padding: 7px 0;
}
#guide .guide-content .content-left dl dd a {
  color: #666;
}
#guide .guide-content .content-left dl dd a:hover {
  color: #3983e6;
}
#guide .guide-content .content-right {
  float: left;
  height: 205px;
  padding: 15px 15px 0;
  border-left: 1px dotted #a3a3a3;
}
#guide .guide-content .content-right .guide-content-title {
  position: relative;
}
#guide .guide-content .content-right .guide-content-title ul {
  float: left;
  height: 20px;
  margin-bottom: 10px;
}
#guide .guide-content .content-right .guide-content-title ul li {
  float: left;
  line-height: 20px;
  margin-right: 15px;
  padding: 0 8px;
  border-radius: 3px;
}
#guide .guide-content .content-right .guide-content-title ul li:hover {
  background: #3983e5;
}
#guide .guide-content .content-right .guide-content-title ul li:hover a {
  color: #fff;
}
#guide .guide-content .content-right .guide-content-title ul li a {
  color: #3983e5;
}
#guide .guide-content .content-right .guide-content-title ul li:nth-of-type(1) {
  background: #3983e5;
}
#guide .guide-content .content-right .guide-content-title ul li:nth-of-type(1) a {
  color: #fff;
  cursor: default;
}
#guide .guide-content .content-right .guide-content-title > a {
  position: absolute;
  right: 9px;
  top: 0px;
  display: block;
  color: #3983e5;
}
#guide .guide-content .content-right .guide-content-title > a:hover {
  right: -2px;
  top: -3px;
  border: 1px solid #3983e5;
  border-radius: 3px;
  padding: 2px 10px;
}
#guide .guide-content .content-right .guide-content-title > a i {
  font-size: 16px;
}
#guide .guide-content .content-right .guide-content-main ul li {
  position: relative;
  float: left;
  width: 220px;
  margin: 0 0 10px 10px;
}
#guide .guide-content .content-right .guide-content-main ul li a {
  overflow: hidden;
  color: #666;
  display: block;
}
#guide .guide-content .content-right .guide-content-main ul li a:hover img {
  transform: scale(1.05);
}
#guide .guide-content .content-right .guide-content-main ul li a:hover > P {
  height: 35px;
}
#guide .guide-content .content-right .guide-content-main ul li a img {
  width: 220px;
  height: 155px;
  transition: transform 0.3s ease 0s;
}
#guide .guide-content .content-right .guide-content-main ul li a > p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
}
/*--- /攻略 --- */
/*--- 旅行服务 --- */
.trip {
  width: 1180px;
  margin: 28px auto 0;
}
.trip-title {
  position: relative;
  height: 36px;
  border-bottom: 2px solid #3983e5;
}
.trip-title ul li {
  float: left;
  height: 36px;
  line-height: 30px;
  color: #333;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
.trip-title ul li:nth-of-type(1) {
  position: relative;
  color: #06c;
  cursor: default;
}
.trip-title ul li:nth-of-type(1) i {
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -6px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #3983e5;
}
.trip-title ul li:hover {
  color: #06c;
}
.trip-content > ul > li {
  float: left;
  border: 1px solid #e0e0e0;
  margin: 10px 0 0 10px;
  background: #fff;
}
.trip-content > ul > li:nth-of-type(1) {
  margin-left: 0;
}
.trip-content > ul > li > a {
  display: block;
  height: 117px;
  border-bottom: 1px solid #e0e0e0;
}
.trip-content > ul > li > a:hover {
  background: #e2eeff;
}
.trip-content > ul > li > a strong {
  position: relative;
  display: inline-block;
  margin: 15px 10px 0 30px;
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  background: #abcdf5;
}
.trip-content > ul > li > a strong i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 34px;
  width: 46px;
  background: url(../img/un_index_supply.png) no-repeat 0 0;
}
.trip-content > ul > li > a div {
  float: right;
  margin-top: 15px;
}
.trip-content > ul > li > a div p {
  font: 16px/1.5 "Microsoft yahei";
  margin-bottom: 5px;
  color: #333;
}
.trip-content > ul > li > a div em {
  display: block;
  padding-right: 5px;
  color: #666;
}
.trip-content > ul > li > div > ul > li {
  float: left;
  padding: 8px 0;
}
.trip-content > ul > li > div > ul > li:hover {
  background: #e2edff;
  cursor: pointer;
}
.trip-content > ul > li > div > ul > li:nth-of-type(1) a {
  border-left: none;
}
.trip-content > ul > li > div > ul > li a {
  display: inline-block;
  width: 95px;
  height: 24px;
  line-height: 24px;
  border-left: 1px dashed #a3a3a3;
  text-align: center;
  color: #333;
}
.trip-content > ul > li > div > ul > li a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
/*--- /旅行服务 --- */
/*--- 商旅服务 --- */
.business {
  width: 1180px;
  margin: 28px auto 0;
}
.business-title {
  position: relative;
  height: 36px;
  border-bottom: 2px solid #3983e5;
}
.business-title ul li {
  float: left;
  height: 36px;
  line-height: 30px;
  color: #333;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
.business-title ul li:nth-of-type(1) {
  position: relative;
  color: #06c;
  cursor: default;
}
.business-title ul li:nth-of-type(1) i {
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -6px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #3983e5;
}
.business-title ul li:hover {
  color: #06c;
}
.business-content > ul > li {
  width: 384px;
  float: left;
  border: 1px solid #e0e0e0;
  margin: 10px 0 0 10px;
  background: #fff;
}
.business-content > ul > li:nth-of-type(1) {
  margin-left: 0;
}
.business-content > ul > li > a {
  display: block;
  height: 117px;
  border-bottom: 1px solid #e0e0e0;
}
.business-content > ul > li > a:hover {
  background: #e2eeff;
}
.business-content > ul > li > a strong {
  float: left;
  position: relative;
  display: block;
  margin: 15px 10px 0 30px;
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  background: #F8c2b3;
}
.business-content > ul > li > a strong i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 34px;
  width: 46px;
  background: url(../img/un_index_supply.png) no-repeat 0 0;
}
.business-content > ul > li > a div {
  float: right;
  width: 254px;
  margin-top: 15px;
}
.business-content > ul > li > a div p {
  font: 16px/1.5 "Microsoft yahei";
  margin-bottom: 5px;
  color: #333;
}
.business-content > ul > li > a div em {
  display: block;
  padding-right: 5px;
  color: #666;
}
/*--- /商旅服务 --- */
/*--- 合作优惠 --- */
.discount {
  width: 1180px;
  margin: 28px auto 0;
  background: #fff;
}
.discount-top {
  height: 98px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.discount-top-left {
  float: left;
  width: 189px;
  height: 88px;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  padding: 10px 10px 0 20px;
}
.discount-top-left > p {
  position: relative;
  margin-bottom: 5px;
  font: 16px/26px "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
}
.discount-top-left > p a {
  position: absolute;
  right: 0;
  color: #b6b6b6;
  font: 12px/26px 'SimSun';
}
.discount-top-left > p a:hover {
  color: #3983e5;
}
.discount-top-left > div a {
  display: block;
  font-size: 12px;
  font-family: 'simsun';
  color: #666;
}
.discount-top-left > div a:hover {
  color: #3983e5;
}
.discount-top-right {
  float: left;
  padding: 10px 10px 0 20px;
  height: 88px;
}
.discount-top-right > p {
  font: 16px/26px "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
  margin-bottom: 5px;
}
.discount-top-right > div ul li {
  float: left;
  width: 154px;
  border-left: 1px dashed #e0e0e0;
  text-align: center;
}
.discount-top-right > div ul li:nth-of-type(1) {
  border-left: none;
}
.discount-top-right > div ul li a {
  display: inline-block;
  width: 76px;
  height: 28px;
  background: url(../img/pic_partner.png) no-repeat;
}
.discount-bot {
  padding: 10px 15px;
  line-height: 2;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-top: none;
}
.discount-bot a {
  color: #b6b6b6;
}
.discount-bot dl {
  display: block;
  overflow: hidden;
  padding: 5px 0 5px 80px;
  border-top: 1px dotted #ccc;
}
.discount-bot dl:nth-of-type(1) {
  border-top: none;
}
.discount-bot dl dt {
  float: left;
  width: 80px;
  margin-left: -80px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.discount-bot dl dd {
  float: left;
  width: 84px;
  margin-right: 5px;
}
.discount-bot dl dd a:hover {
  color: #3983e5;
}
.discount .language {
  width: auto;
}
.discount .language a:hover i {
  background-position: -43px 0;
}
.discount .language i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 16px;
  background: url(../img/un_footer201807.png) no-repeat -64px 0;
}
.discount .language b {
  display: inline-block;
  margin-top: 4px;
  vertical-align: middle;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #000;
}
/*--- /合作优惠 --- */
/*--- footer--- */
.footer {
  width: 1180px;
  margin: 28px auto 0;
}
.footer-top {
  margin: 28px auto;
}
.footer-top > dl {
  float: left;
  width: 235px;
  height: 150px;
  padding-left: 10px;
  color: #666;
}
.footer-top > dl dt {
  font: 16px/20px 'Microsoft yahei';
  margin-bottom: 10px;
}
.footer-top > dl dd:nth-of-type(2) a i {
  background-position: -41px -200px;
}
.footer-top > dl dd:nth-of-type(2) a p {
  color: #ff9913;
}
.footer-top > dl dd a {
  color: #666;
  display: block;
  padding-bottom: 15px;
}
.footer-top > dl dd a i {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../img/pic_partner.png) no-repeat -41px -250px;
}
.footer-top > dl dd a div {
  display: inline-block;
  margin-left: 9px;
}
.footer-top > dl dd a div p {
  color: #2577e3;
  font: bold 16px "Microsoft Yahei";
}
.footer-top > div {
  float: left;
}
.footer-top > div dl {
  float: left;
  width: 210px;
  height: 150px;
  padding: 0 10px 0 40px;
  border-left: 1px solid #dedede;
}
.footer-top > div dl:nth-of-type(3) {
  padding-right: 0;
}
.footer-top > div dl:nth-of-type(4) {
  padding: 0 0 0 30px;
  width: 130px;
}
.footer-top > div dl dt {
  font: 16px/20px 'Microsoft yahei';
  margin-bottom: 10px;
}
.footer-top > div dl dd {
  display: inline-block;
  width: 103px;
  line-height: 14px;
  margin: 6px 0;
}
.footer-top > div dl dd a {
  color: #666;
}
.footer-top > div dl dd a:hover {
  color: #3983e5;
}
.footer-top > div .hot {
  position: relative;
}
.footer-top > div .hot a:hover i {
  transform: rotate(180deg) translateY(7.5px);
}
.footer-top > div .hot i {
  position: absolute;
  top: 50%;
  right: 43px;
  transform: translateY(-2px);
  display: inline-block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #3983e4;
  transition: transform 0.3s;
}
.footer-top .scan dt {
  margin-bottom: 1px;
  font-size: 12px;
  text-align: center;
}
.footer-top .scan dd {
  width: 114px;
  padding: 8px;
  border: 1px solid #efefef;
  line-height: 14px;
  margin: 6px 0;
}
.footer-top .scan dd p {
  margin-top: 10px;
  line-height: 1.3;
  color: #999;
}
.footer-bot {
  text-align: center;
  color: #999;
  padding-top: 28px;
}
.footer-bot a {
  display: inline-block;
  color: #999;
}
.footer-bot a:hover {
  color: #3983e5;
}
.footer-bot p {
  padding-top: 10px;
}
.footer-bot p:nth-of-type(2) i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: url(../img/phone_list20180116.png) no-repeat 0 -235px;
}
.footer-bot > div {
  padding-top: 10px;
}
.footer-bot > div a {
  display: inline-block;
  margin: 0 4px;
  width: 88px;
  height: 32px;
  background: url(../img/phone_list20180116.png) no-repeat 0 -50px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  text-indent: -100%;
  overflow: hidden;
}
/*--- /footer--- */
/*--- 左侧导航--- */
.lift {
  position: fixed;
  width: 36px;
  height: 360px;
  margin: 0 auto;
  left: 50%;
  top: 200px;
  margin-left: -633px;
  z-index: 20;
}
.lift li {
  background: url(../img/un_icon_leftnav.png) no-repeat center -40px;
  position: relative;
  display: block;
  width: 36px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-top: -1px;
  overflow: hidden;
  margin-bottom: 1px;
  text-align: center;
}
.lift li:hover {
  color: #fff;
  background: #3882e5;
}
.lift li:hover a {
  text-decoration: none;
  color: #fff;
  padding-top: 0;
  border-top: none;
}
.lift li a {
  display: inline-block;
  height: 39px;
  border-top: 1px solid #e0e0e0;
  font-style: normal;
  padding-top: 45px;
  overflow: hidden;
  text-align: center;
}
/*--- /左侧导航--- */
